attrs==21.4.0
certifi==2023.7.22
charset-normalizer==2.1.0
deepl==1.9.0
environs==9.5.0
idna==3.3
iniconfig==1.1.1
lxml==4.9.1
marshmallow==3.17.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-mock==3.8.2
python-docx==0.8.11
python-dotenv==0.20.0
requests==2.31.0
tomli==2.0.1
urllib3==1.26.10
